@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import "variables";

:root {
  --padding-container: 100px 0;
  --color-title: #001a49;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(6, 171, 247);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

/* Hero Container */

.hero {
  width: 100;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
      url("../img/cámara.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
  }
  &__container {
    max-width: 880px;
    display: grid;
    --padding-container: 0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
  }
  &__title {
    font-size: 3rem;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: initial;
  }
  &__paragraph {
    margin-bottom: 20px;
  }
}


@keyframes aparecer {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  
  }



/* Nav */


.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
  &__title {
    font-weight: 300;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__link {
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
  }
  &__items {
    list-style: none;
  }
  &__links {
    color: rgb(238, 89, 9);
    text-decoration: none;
  }
  &__menu {
    display: none;
  }
  &__img {
    display: block;
    width: 30px;
  }
  &__close {
    display: var(--show, none);
  }
}

/* Botón Conoce más */
.cta {
  display: inline-block;
  background-color: #2091f9;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: initial;

}

@keyframes aparecer {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


/* About */

.about {
  text-align: center;
  &__paragraph {
    line-height: 1.7;
  }
  &__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  }
  &__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
  }
  &__icon {
    width: 40px;
  }
}

.subtitle {
  --color-title: #001a49;
  font-size: 2rem;
  margin-bottom: 25px;
}


/* Contáctanos */

.contactanos{
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
      radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        align-items: center;
    }
    &__picture{
        max-width: 500px;
    }
    &__paragraph{
        line-height: 1.7;
        margin-bottom: 15px;
    }
    &__img{
        width: 600px;
      }
      &__img{
        width: 600px;
      }
  }



/*footer*/

.footer__container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__title{
  font-weight: 300;
}

.nav--footer{
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

/*Media Queries Home*/

@media (max-width:800px){
  .nav__menu{
    display: block;
  }

  .nav__link--menu{
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
    }

    .nav__link--show{
      --show: block;
      opacity:1 ;
      pointer-events: unset;
    }

    .nav__close{
      position: absolute;
      top: 30px;
      right: 30px;
      width: 30px;
      cursor: pointer;
    }
    .hero__title{
      font-size: 2.5rem;
    }

    .about__main{
      gap: 2em;
    }

    .about__main:last-of-type{
      grid-column: 1/-1;
    }

    .contactanos__container{
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
      gap: 3em;
      text-align: center;
    }

    .contactanos__picture{
      grid-row: 1/2;
      justify-self: center;
    }
}

/*Sobre Nosotros*/

.hero1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url("../img/pexels-fox-225157.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}




